<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center m-3 auto " id="divbody">
        <ul id="main-nav">
          <li class="heading">
            <div class="text">HODLINFO.<span>com</span></div>
            <div class="textdown">Powered By <span style="color:#4cc9f0;font-size: 13px;">Finstreet</span></div>
          </li>
          <li class="optionbtn">
            <select id="india" name="india">
              <option value="volvo">INR</option>
              <option value="saab">india</option>
              <option value="fiat">india</option>
              <option value="audi">india</option>
            </select>
          </li>
          <li class="optionbtn">
            <select id="india" name="india">
              <option value="volvo">BTC</option>
              <option value="saab">india</option>
              <option value="fiat">india</option>
              <option value="audi">india</option>
            </select>
          </li>
          <li class="push">
            <div id="round">58</div>
          </li>
          <li class="push">
            <button class="btn"><i class="fa fa-telegram"></i> Connect</button>
          </li>
          <li class="push">
            <label class="switch ">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
          </li>

        </ul>

        <div class="tableitem">
          <div>
            <div class='tHead'>
              <span class="td1">#</span>
              <span class="td1">name</span>
              <span class="td1">Last</span>
              <span class="td2">Buy / Sell Price</span>
              <span class="td1">volume</span>
              <span class="td1">base_unit</span>
            </div>
            <%for(let listitem of items){%>
              <div class="rowitem2">
                <span class="td1">
                  <%= listitem.id %>
                </span>
                <span class="td1">
                  <%= listitem.name %>
                </span>
                <span class="td1">&#8377; <%= listitem.last %></span>
                <span class="td2">&#8377; <%= listitem.buy %>/&#8377; <%= listitem.sell %></span>
                <span class="td1">
                  <%= listitem.volume %>
                </span>
                <span class="td1">
                  <%= listitem.base_unit %>
                </span>
              </div>
              <%}%>
          </div>
        </div>

      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
      integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
      integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
      crossorigin="anonymous"></script>
</body>

</html>